<div class="container form-container">
  <%= simple_form_for [@van, @booking] do |f| %>
    <%= f.input :start, as: :string, input_html: {class: "datepicker"}, label: "Date de début:" %>
    <%= f.input :end, as: :string, input_html: {class: "datepicker"}, label: "Date de fin:" %>
    <%= f.submit 'Réserver!', class: "btn-main" %>
  <% end %>
</div>