<div class="banner" style="background-image: url(https://res.cloudinary.com/df0stqosw/image/upload/v1615323395/Bonvan/bulli-2706145_1920_hsds4l.jpg);">
  <div class="container text-center">
   <h1 id="banner-title">Choisissez le bon Wagon avec Bonvan !</h1>
   <%= link_to "Index", vans_path, class: "btn-main" %>
  </div>
</div>

