.btn-main {
    color: white;
    background-color: $prussian-blue;
    padding: 10px 20px;
    border-radius: 50px;
    display: inline-block;
    border-color: none !important;
    border-style: none !important;


    &:hover {
        color: white  ;
        background-color: rgba($prussian-blue, .9);
        text-decoration: none;
    }
}

.btn-navbar {
    background-color: $steel-teal;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    padding: 5px 15px;
    display: inline-block;
    border-color: none !important;
    border-style: none !important;
}

#login-btn {
    color: white;
}

