.btn-main {
    color: white;
    background-color: $prussian-blue;
    padding: 10px 20px;
    border-radius: 50px;
    display: inline-block;


    &:hover {
        color: white  ;
        background-color: rgba($prussian-blue, .8);
        text-decoration: none;
    }
}

