.navbar-lewagon {
  justify-content: space-between;
  background-color:$warm-black;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  color: white;
}

.nav-link{
  text-decoration: none;
  color: white;

}
